.main{
    width: 650px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    background-color: blue;
    color: white;
    position: absolute  ;
    border-radius: 10px;
    margin-left: 300px;
    margin-top:10px ;

}
.col2{
    padding-top: 20px;
    /* border-radius: 10px; */

}
button{
    background-color:blue;
    border-color: white;
    border-width: 2px;
    border-radius: 10px;
    width: 100px;
    color: white    ;

}